.button {
  background: white;
  font-family: $font-family;
  // font-weight: 600;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: none;
  box-shadow: $box-shadow;

  &.sm {
    padding: 8px 12px;
  }


  &.lg {
    padding: 22px;
    border-radius: 35px;
    box-shadow: $box-shadow-lg;
  }
  
  &.active{
    color: white;
    background: lighten($color: $color-dark-blue, $amount: 30);

    &:hover {
      background: lighten($color: $color-dark-blue, $amount: 40);
    }
  }

  &:hover {
    background: lighten($color: $color-dark-blue, $amount: 60);
  }

  &.red {
    background: $color-red;
    color: white;
  }

  &.blue {
    background: $color-light-blue;
    color: white !important;
    
    &:hover { 
      background: darken($color-light-blue, $amount: 10);  
    }
    border: 1px solid $color-light-blue;
    color: #262626;
    transition: all 0.3s ease-in-out;
  }


  &.round {
    border-radius: 50%;
  }

  &.unstyled {
    box-shadow: none !important;
    background: transparent;
  }

  &.disabled {
    cursor: not-allowed;
    background: $color-medium-grey;
  }
}


.button-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .button {
    margin-right: 8px;
    box-shadow: $box-shadow;

    &:last-child{
      margin-right: 0;
    }
  }
}