// variables

// Colours
$color-dark-blue: #2A4365;
$color-light-blue: #4299E1;
$color-light-green: #48BB78;
$color-light-orange: #ED8936;
$color-red: #F56565;

$color-light-grey: #EDF2F7;
$color-grey: #E2E8F0;
$color-medium-grey: #CBD5E0;
$color-dark-grey: #718096;


// Breakpoints
$breakpoint-medium: 600px;
$breakpoint-large: 1200px;
$breakpoint-huge: 1800px;

// Typography
$font-family: "Recursive",sans-serif;


$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
