.select > .selected-item {
    background: white;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px #d1d5da;
    padding: 12px 24px;
    font-size: 16px;
  
    display: inline-block;
    cursor: pointer;
  }
  
  .select::hover, .button::hover {
    background: #fff;
  }
  
  
  .select > .items {
    display: block;
    position: absolute;
    bottom: 60px;
    width: 130px;
    box-shadow: inset 0 0 0 1px #d1d5da;
    background: white;
  }
  
  .select .items .item {
    padding: 6px;
  }
  
  .select .items .item:hover {
    background: #d1d5da;
  }
  
  
  .colour {
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    width: 12px;
    height: 12px;
  }
  
  .colour.red {
    background: red;
  }
  
  .colour.blue {
    background: blue;
  }
  .colour.green {
    background: green;
  }
  .colour.yellow {
    background: yellow;
  }
  .colour.black {
    background: black;
  }
  