@import "./variables.scss";
@import "./alert.scss";
@import "./buttons.scss";
@import "./form.scss";
@import "./components/components.scss";


html,
body {
  // overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: $font-family;
 	-webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}


.card {
  color: black;
  position: relative;
  margin: 0 auto;
  width: 70%;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 24px;


  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.studio-list{
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding: 24px;


  .studio {
    display: inline-block;
    border-top: 6px solid $color-dark-blue;
    background: white;
    width: calc(100% - 48px);
    margin-bottom: 16px;
    padding: 24px;
    box-shadow: $box-shadow-lg;
    border-radius: 3px;
    transition: transform 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    cursor: pointer;

    &.orange {
      border-top-color: $color-light-orange;
    }

    &.red {
      border-top-color: $color-red;
    }
    &.blue {
      border-top-color: $color-light-blue;
    }
    &.green {
      border-top-color: $color-light-green;
    }


    .link {
      color: $color-dark-blue;
      text-decoration: none;
    }

    .title {
      font-family: $font-family;
      font-weight: 600;
      font-size: 1.2rem;
  
    }

    &:nth-child(odd):hover {
      transform: scale(1.1111) rotate(2deg);
    }
    &:nth-child(even):hover {
      transform: scale(1.1111) rotate(-2deg);
    }

    @media screen and (min-width: $breakpoint-large) {
      width: calc(33.33% - 78px);
      margin: 15px;
    }
  }
}

.features {
  text-align: center;
  padding: 28px;
  background: #262626;
  color: white;


  .features-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .feature-item {
      width: 300px;
      height: 80px;
      padding: 48px;
      box-shadow: 0 0 10px rgba(255,255,255, 0.1);
      border-radius: 4px;

      font-size: 1.2rem;
      font-family: $font-family;
      
      .title{
        font-weight: 700;
        font-size: 1.5rem;
      }

      display: flex;
      flex-direction: column;

      .feature-image {
        margin-bottom: 12px;
      }

      &.green {
        background: $color-light-green;
      }

      &.blue {
        background: $color-light-blue;
      }

      &.yellow {
        background: $color-light-orange ;
      }
    }
  }

}

.footer{
  background: white;
}

// Modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  
  &::before{
    content: '';
    position: absolute;
    
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: #003A54;
  } 
  
  
  .content {
    width: 50%;
    min-height: auto;
    background: white;
    margin: 48px auto;
    position: relative;
    padding: 18px;
    
    box-shadow: $box-shadow-lg;
    border-radius: 5px;
    box-sizing: border-box;
  }
}


// Text
.h2,
h2 {
  font-family: $font-family;
  font-size: 2rem;
  padding: 16px 0;
  margin: 0;
  letter-spacing: 1px;

}

.h3,
h3 {
  font-family: $font-family;
  font-size: 2rem;
  letter-spacing: 1px;
}

.h5, h5{
  font-weight: 600;
  font-size: 1rem;
}

.p {
  font-family: $font-family;
  letter-spacing: 0.3px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
}