.ui {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: calc(auto - 24px);
  max-height: 400px;
  box-sizing: border-box;
  padding: 14px;
  background: $color-grey;
  box-shadow: $box-shadow-lg;
  // border: 1px solid $color-medium-grey;
  // border-radius: 12px;
  transition: all 0.3s linear;


  &.remove { 
    background: $color-light-yellow;
    border-top: 6px solid #111;
  }
}


.ui-navigation {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
  color: $color-light-grey;

  .item {
    cursor: pointer;
    margin-right: 18px;
    padding-bottom: 6px;
    font-size: 1.4rem;


    &.active {      
      border-bottom: 1px solid $color-light-grey;
      font-weight: 800;
    }
  }
}


.brick-ui {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  border-radius: 12px;
  padding: 12px;

  &.hidden {
    display: none;
    visibility: hidden;
  }
  .close {
    margin-top: 5px;
  }

  .close, .tools {
    display: flex;
    justify-content: space-evenly;
  }

}

.bricks-list {
  display: flex;
  margin: 0 -6px;

  .brick {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 128px;
    height: 64px;
    padding: 4px;
    margin:  6px;
    background: #fff;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: all 0.3s;

    &.selected { 
      box-shadow: $box-shadow-md;
      font-weight: bold;      
    }

    &:hover {
      box-shadow: $box-shadow-lg;
    }
  }
}


.my-bricks {
  display: flex;
  width: 100%;

  .bricks-list {
    flex-grow: 1;
  }
}


.lego-colour {
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  width: 14px;
  height: 14px;
}


.colour-picker {
  .options {
    position: absolute;
    bottom: 200px;
    right: 12px;
    display: inline-block;
    z-index: 999;
    padding: 12px;
    margin-bottom: 16px;

    width: 600px;
    background: white;

    box-shadow: $box-shadow-md;

    border-radius: 5px;
  }
}

