.panel-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

.panel {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 300px;
  box-sizing: border-box;
  background: white;
  box-shadow: $box-shadow-lg;

  border-radius: 6px;

  .heading {
    padding: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
    
    button,
    div.button {
      margin-right: 12px;
    }
  
  }

  .content {
    padding: 12px;

    .title {
      @extend .h5;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .brick-list {
    .brick {

      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-weight: 600;
      }
      &.selected {
        border-left: 5px solid $color-dark-blue;
      }

      &:nth-child(even){
        background: $color-light-grey;
      }

      &:last-child {
        border-bottom: 1px solid $color-medium-grey;
      }

      border: 1px solid $color-medium-grey;
      border-bottom: 0px;

      padding: 6px;
    }
  }
}