.panel {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10%;
  box-sizing: border-box;
  background: white;
  box-shadow: $box-shadow-lg;

  border-radius: 6px;

  .heading {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    padding: 12px;
  }
  .brick-list {

    .brick {
      &:nth-child(even){
        background: $color-light-grey;
      }
      border-bottom: 1px solid black;
      padding: 4px;
    }
  }
}