.ui {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 24px);
  padding: 12px;
  background: $color-light-grey;
  border-top: 1px solid #CBD5E0;
}


.ui-navigation {
  width: 100%;
  display: flex;
  margin-bottom: 12px;

  .item {
    cursor: pointer;
    margin-right: 12px;
    padding-bottom: 4px;
    font-size: 1.3rem;
    font-weight: 500;


    &.active {
      border-bottom: 1px solid $color-dark-blue;
      font-weight: 600;
    }
  }
}

.bricks-list {
  display: flex;
  margin: 0 -6px;

  .brick {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 64px;
    height: 64px;
    padding: 4px;
    margin: 0 6px 24px 6px;
    background: #fff;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: $box-shadow-lg;
    }
  }
}


.colour-picker {
  .options {
    display: inline-block;
    z-index: 999;
    padding: 12px;
    margin-bottom: 16px;

    width: 300px;
    background: white;

    box-shadow: $box-shadow-md;

    border-radius: 5px;
  }
}

