.settings {

  display: flex;

  .group {
    padding: 0 12px;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;

    .title {
      margin-left: 6px;
    }

    &:hover {
      background: lighten($color: #000000, $amount: 90);
    }
  }
}